* {
	font-family: 'Roboto', sans-serif;
}

header {
	position: relative;
	height: 50px;
}

.promo_btn_blue {
	background-color: blue;
	/* Green */
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 0px;
}

.promo_btn_red {
	background-color: red;
	/* Green */
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 0px;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	border: none;
}


.buttons {
	display: table;
	margin: 0 auto;
}
